.mat-table {
    width: 100%;
}

.mat-header-cell, .mat-cell {
    padding: 12px 16px; /* Adjust padding as needed */
    text-align: left; /* Ensure text is aligned correctly */
}

.mat-header-cell {
    background-color: rgb(243, 242, 242) !important; /* Change to your desired shade of grey */ 
}

.mat-paginator {
    margin-top: 0px; /* Space between the table and paginator */
}

/* Ensure responsive design */
@media (max-width: 600px) {
    .mat-table {
        display: block; /* Stacks table cells on smaller screens */
    }
}
